<div style="background-color: yellow; padding: 25px">
  {% case icon %}
    {% when 'tiktok' %}
    {% render 'icon-tiktok' %}
    {% when 'vimeo' %}
    {% render 'icon-vimeo' %}
    {% when 'twitter' %}
    {% render 'icon-twitter' %}
    {% when 'zoom' %}
    {% render 'icon-zoom' %}
  {% endcase %}
</div>