<div class="page-width">
  dfvd
</div>

{% schema %}
  {
    "name": "Image get links",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "get_image_v_1",
        "label": "Get Image V1"
      }
    ],
    "presets": [
      {
        "name": "Image get links"
      }
    ]
  }
{% endschema %}