<div class="page-width">
  dfvd
</div>

{% schema %}
  {
    "name": "Image get links",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "Image get links"
      }
    ]
  }
{% endschema %}