<div style="border: 1px solid orange">
  {{ product.metafields.benefit_section.item_1.value }} <br>
  {{ product.metafields.benefit_section.item_2.value }} <br>
  {{ product.metafields.benefit_section.item_3.value }} <br>
  {{ product.metafields.benefit_section.item_4.value }}
</div>


{% schema %}
  {
    "name": "Product BNF Metafield",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "This section uses metafields"
      }
    ],
    "presets": [
      {
        "name": "Product Benefits Metafield"
      }
    ]
  }
{% endschema %}