<div style="border: 1px solid orange"></div>

{% schema %}
  {
    "name": "Schema section blocks",
    "tag": "section",
    "class": "section",
    "presets": [
      {
        "name": "Schema section blocks"
      }
    ]
  }
{% endschema %}