{% if settings.enable_marketing == true %}
  <div style="border: 1px solid orange">
    {% if settings.facebook_id != blank %}
      <script>
        console.log('facebook_id', '{{settings.facebook_id}}')
      </script>
    {% endif %}
    {% if settings.another_script != blank %}
      {{ settings.another_script }}
    {% endif %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Schema section blocks",
    "tag": "section",
    "class": "section",
    "presets": [
      {
        "name": "Schema section blocks"
      }
    ]
  }
{% endschema %}