{% if section.blocks.size > 0 %}
  {{ 'section-collection-tabs.css' | asset_url | stylesheet_tag }}
  <div class="section-collection-tabs__section">
    <div class="page-width section-collection-tabs__container">

      <div class="section-collection-tabs__heading">
        {% if section.settings.title != blank %}
          <h2 class="section-collection-tabs__title">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.description != blank %}
          <div class="section-collection-tabs__title">{{ section.settings.description }}</div>
        {% endif %}
      </div>
      <div class="section-collection-tabs_tabs__content">
        <div class="tab">
          <div class="tab__headings">
            <ul class="list">
              <li class="list__item active">
                <a href="#" class="list__link">Description</a>
              </li>
              <li class="list__item">
                <a href="#" class="list__link">Details</a>
              </li>
              <li class="list__item">
                <a href="#" class="list__link">
                  Сharacteristics</a>
              </li>
            </ul>
          </div>
          <div class="tab__bodies">
            <ul class="list">
              <li class="list__item active">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </li>
              <li class="list__item">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
              </li>
              <li class="list__item">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Collection Tabs",
    "tag": "section",
    "class": "section section-collection-tabs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "<p>Favourite products</p>"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Section Description",
        "default": "<p>Chose</p>"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "name": "Collction tab",
        "type": "collection_tab",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection tabs"
      }
    ]
  }
{% endschema %}